
body{
    background:#585c68;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase; 
}
.semi-bold{
    font-weight: 500;
    font-size: 16px;

}
.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
    flex-direction: row;
    background: #0bb5f4;
}

.resume .resume-left{
   padding: 25px;
}

.resume .resume-left .resume-profile img{
    width:100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resume .title{
    margin-bottom: 20px;
}
.resume .resume-left .bold{
    color: #fff;
}

.resume .resume-item{
    padding: 25px;
    border-bottom: 2px solid #b1eaff;
}

.resume .resume-left ul li{
    display: flex;
    align-items: left;
    margin-bottom: 10px;
}
.resume .resume-right{
    width: 520px;
    background: #fff;
    padding: 25px;
    flex-direction: column;

}

.resume .resume-right .bold{
    color:#0bb5f4;

}
.resume .resume-right .resume-education ul,
.resume .resume-right .resume-languages ul{
    padding-left: 40px;
    overflow: hidden;
}
.resume .resume-right ul li{
    position: relative;
    display: flex;

}
.resume .resume-right ul li .date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;

}
.resume .resume-right ul li .info{
    margin-bottom: 20px;

}

.resume .resume-right ul li:last-child .info{
    margin-bottom: 0;
}

.resume .resume-right .resume-education ul li:before,
.resume .resume-right .resume-languages ul:before{
    content:"";
    position: absolute;
    top:5px;
    left:-25px;
    width:6px;
    height:6px;
    border-radius:50%;
    border: 2px solid #0bb5f4;
}
.resume .resume-right .resume-education ul li:after,
.resume .resume-right .resume-languages ul:after{
    content:"";
    position: absolute;
    top:14px;
    left: -21px;
    width: 3px;
    height: 101px;
    background: #0bb5f4;
}

.icons{
    margin-right: 20px;
}